/* Header */
/* Color logo "WEB" - #4D5AE5 */
/* Color logo "STUDIO" - #2E2F42 */
/* Color nav - #2E2F42 */
/* Color address info - #2E2F42 */

/* Hero image */
/* Color h1 - #FFFFFF */
/* Color butt - #F4F4FD */
/* Background color - #2E2F42 */

/* Section1 */
/* Color h2 section 1 - #2E2F42 */
/* Color p section 1 - #434455 */

/* Section2 */
/* Color h2 section 2 - #2E2F42 */

/* Section3 */
/* Color h2 section 3 - #2E2F42 */
/* Color name cection 3 - #2E2F42 */
/* Color p section 3 - #434455 */
/* Background color - #F4F4FD */

/* Footer */
/* Color text footer - #F4F4FD */
/* Background color - #2E2F42 */

:root {
    --accent-color: #2E2F42;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

.body {
    font-family: var(--primary-font);
    color: #434455;
    background-color: #ffffff;
}

/* Reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

/**
  |============================
  | Header
  |============================
*/
/* header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    z-index: 100;
}

/* div */
.header-container {
    display: flex;
    align-items: center;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}

/* nav */
.header-nav {
    display: flex;
    align-items: center;
}

/* a */
.logo {
    margin-right: 76px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

.span-logo {
    display: inline-block;
    color: #2E2F42;
}

/* ul */
.header-list {
    display: flex;
}

/* li */

.header-item:not(:last-child) {
    margin-right: 40px;
}

/* a */
.header-link {
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
    color: #404BBF;
}

.current {
    position: relative;
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}

/* address */
.contacts {
    margin-left: auto;
}

/* ul */
.contacts-list {
    display: flex;
    gap: 40px;
}

/* a */
.contacts-link {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

/**
  |============================
  | Hero Title
  |============================
*/
/* section */
.hero {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;

    text-align: center;
    background-color: var(--accent-color);

    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero/people_office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* h1 */
.hero-title {
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

/* button */
.modal-btn {
    margin: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-align: center;
    display: block;
    min-width: 169px;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;

    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

/**
  |============================
  | About us
  |============================
*/
/* section */
.about {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* ul */
.about-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

/* div */
.svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
}

/* h3 */
.about-name {
    margin-bottom: 8px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

/* p */
.info {
    width: 264px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/**
  |============================
  | Projects
  |============================
*/
/* section */
.projects {
    padding-bottom: 120px;
}

/* h2 */
.projects-team {
    margin-bottom: 72px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-color);
}

/* ul */
.projects-list__team {
    gap: 24px;
    display: flex;
}

/**
  |============================
  | Team
  |============================
*/
/* section */
.team {
    padding-bottom: 120px;
    padding-top: 120px;
    background-color: #F4F4FD;
}

/* h2 */
.team-title {
    margin-bottom: 72px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-color);
}

/* ul */
.team-list {
    gap: 24px;
    padding-top: 72px;
    display: flex;
    justify-content: space-between;
}

/* li */
.team-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    width: 264px;
}

/* div */
.worker-wrapper {
    padding: 32px 0;
    border-radius: 0px 0px 4px 4px;
}

/* h3 */
.name-worker {
    margin-bottom: 8px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

/* p */
.info-name-worker {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ul */
.socials {
    margin-top: 8px;
    display: flex;
    gap: 24px;
    justify-content: center;
}

/* a */
.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    color: #F4F4FD;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
    background-color: #404BBF;
    color: #F4F4FD;
}

/* svg */
.socials-icon {
    fill: currentColor;
}

/**
  |============================
  | Customer
  |============================
*/
/* section */
.customers {
    padding-top: 120px;
    padding-bottom: 120px;

}

/* h2 */
.customers-title {
    margin-bottom: 72px;

    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: #2E2F42;
}

/* ul */
.customers-list {
    display: flex;
    gap: 24px
}

/* a */
.customers-link {
    display: flex;
    justify-content: center;
    width: 168px;
    height: 88px;
    align-items: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    color: #8e8f99;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    border-color: #404BBF;
    color: #404BBF;
}

/* svg */
.customers-icon {
    fill: currentColor;
}

/**
  |============================
  | Footer
  |============================
*/
/* footer */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: var(--accent-color);
}

/* div */
.joint-footer-container {
    display: flex;
    align-items: baseline;
}

/* p */
.media {
    margin-bottom: 16px;
    font-weight: 500;
    color: #ffffff;
}

/* ul */
.footer-socials {
    display: flex;
    gap: 16px;
}

/* a */
.footer-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    color: #F4F4FD;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: #31D0AA;
    color: #F4F4FD;
}

/* svg */
.footer-socials-icon {
    fill: currentColor;
}

/* a */
.footer-logo {
    margin-bottom: 16px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: inline-block;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

/* span */
.footer-logo-span {
    color: #F4F4FD;
}

/* p */
.footer-subtitle {
    max-width: 264px;
}

/* div */
.container2 {
    margin-left: 120px;
}

/* div */
.container3 {
    position: relative;
    margin-left: 80px;
}

/* p */
.footer-subs {
    margin-bottom: 16px;
}

/* subsform */
.footer-subs-form {
    position: relative;
    display: flex;
    gap: 24px;
}

/* input */
.input-footer-email {
    width: 264px;
    height: 40px;
    padding: 0 16px;

    font-size: 12px;

    outline: none;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
}

/* button */

.footer-subs-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;


    letter-spacing: 0.04em;

    background: #4D5AE5;
    border-radius: 4px;
}

.footer-subs-icon {
    top: 10px;
    right: 24px;
}

/**
  |============================
  | Portfolio
  |============================
*/
/**
  |============================
  | Site nav
  |============================
*/
/* section */
.site-nav {
    margin: auto;
    padding-top: 96px;
    padding-bottom: 120px;
}

/* ul */
.btn-nav {
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

/* button */
.list-btn {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 23px;
    padding-right: 23px;

    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    background-color: #F4F4FD;
    color: #4D5AE5;
    cursor: pointer;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.list-btn:hover,
.list-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
    border: 1px solid transparent;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/**
  |============================
  | Portfolio
  |============================
*/
/* ul */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    justify-content: center;
}

/* li */
.portfolio-item {
    width: calc((100% - 48px) / 3);
}

/* a */
.portfolio-link {
    display: block;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* div */
.wrapper {
    position: relative;
    overflow: hidden;
}

/* over */
.over {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 40px 32px 164px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .over,
.portfolio-link:focus .over {
    transform: translateY(0);
    background-color: #4D5AE5;
}

/* div */
.name-app-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* h2 */
.title-portfolio {
    margin-bottom: 8px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

/* p */
.description {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/**
  |============================
  | Modal window
  |============================
*/
/* div */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* div */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    padding: 72px 24px 24px 24px;

    max-width: 408px;
    width: 100%;
    min-height: 576px;

    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;


    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.3);
    opacity: 0;
}

/* button */
.close-modal {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    padding: 0;

    border-radius: 50%;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
    background-color: #404BBF;
    fill: #FFFFFF;
    cursor: pointer;
}

/* strong */
.modal-wind-title {
    display: block;
    margin-bottom: 16px;

    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    text-align: center;
    letter-spacing: 0.02em;

    color: #2E2F42;
}

/* div */
.modal-wind-field {
    position: relative;
    margin-bottom: 8px;
}

/* label */
.modal-wind-label {
    display: block;
    margin-bottom: 4px;

    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

/* input */
.modal-wind-input {
    width: 100%;
    height: 40px;
    padding: 0 38px;

    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wind-input:focus {
    border: 1px solid #4D5AE5;
}

/* svg */
.modal-wind-icon {
    position: absolute;
    left: 16px;
    bottom: 8px;

    fill: #2E2F42;
    pointer-events: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wind-input:focus+.modal-wind-icon {
    fill: #4D5AE5;
}

/* textarea */
.modal-wind-message {
    width: 100%;
    height: 120px;
    padding-top: 8px;
    padding-left: 11px;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.04em;

    resize: none;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wind-message:placeholder-shown {
    color: rgba(46, 47, 66, 0.4);
}

.modal-wind-message:focus {
    border: 1px solid #4D5AE5;
}

/* input */
.modal-wind-privacy {
    appearance: none;
}

/* label */
.modal-wind-agreement {
    display: flex;
    align-items: center;
    gap: 8px;

    margin-bottom: 24px;
}

/* span */
.modal-wind-desc {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.04em;

    color: #8E8F99;
}

/* a */
.modal-wind-link {
    color: #4D5AE5;
    text-decoration: underline;
}

/* button */
.modal-wind-btn {
    display: block;
    margin: 0 auto;
}

/**
  |============================
  | Checkbox
  |============================
*/
/* svg */
.modal-wind-checkbox {
    cursor: pointer;
}

/* use */
.icon-default {
    opacity: 1;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-click {
    opacity: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wind-privacy:checked+.modal-wind-checkbox>.icon-default {
    opacity: 0;
}

.modal-wind-privacy:checked+.modal-wind-checkbox>.icon-click {
    opacity: 1;
}